{% extends "main/components/base.html" %}


 {% block title%}
 create Task
{% endblock %}

{% block content%}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8 col-lg-6">
            <div class="form-table">
                <div class="form-container">
                    <div class="form-header text-center">
                        <h2>Todo</h2>
                    </div>
					<br>
                    <form method="post">
                        {% csrf_token %}
						<!--<p>  -->
                        {{ form.as_p }}             
						<br>
                        <div class="d-flex justify-content-between mt-4">
                            <button type="submit" class="btn sl btn-outline-dark">Create Task</button>
							<a href="{% url 'home'%}" class="btn sl btn-outline-dark">back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}